<!-- 
Variables available in this template's view:
* all_users - List of all users.
    fields: username, first_name, last_name, email, groups, is_teacher, is_student, is_parent, 

-->

{% extends 'parent_portal/base.html' %}
{% load static %}
{% block title %}Parent Portal{% endblock %}

{% block content %}
 <body>
  <header class="blog-header py-3">
    <div class="hd row flex-nowrap flex-xl-row justify-content-between align-items-center">
      <div class="col text-center">
          <a class="blog-header-logo h2" href="#">PARENT PORTAL</a>
      </div>
    </div>
  </header>

  <div class = "container">
    <div class = "row">
      <div class="col-sm-8">
        <table class="table">
          <!-- Table to populate user data with -->
          <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>

          <!-- Attempting to populate table with django -->
          {% for i in all_users %}
            <tr>
              <td>{{i.username}}<td>
              <td>{{i.first_name}}<td>
              <td>{{i.last_name}}<td>
            </tr>
          {% endfor %}

        </table>
      </div>   
    </div>
  </div>


  <div class="blog-header py-3">
    
  </div>

</body>
{% endblock content %}