/*
Colors: ededed      off-white  
5c5c5c      grey 
cccccc      lighter off-white 
_________ 
*/


* {
    /* Reset / remove all margins and padding globally */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    /*    background-color: #b4e3f5;*/
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #b4e3f5;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;  
    overflow: hidden;
    width: 100%;
}


.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


h3 {
    font-size: 80%;
    font-weight: 400;
    color: 464c51 ;
    /*    margin-bottom: 10px;*/
}


.row {
    max-width: 1100px;
    margin: 0 auto;
}


.row2 {
    max-width: 1200px;
    margin: 0 auto;
}


section {
    padding: 10px 0;
}


.box {
    padding: 1%;
    background-color: #fa9f6a  ;
    /*    border: 1px solid #5c5c5c;*/
    border-radius: 50px;
}


.icon-bell {
    font-size: 300%;
    display: block;
    color: #2cd902;
    margin-bottom: 0px;
    float: right; 
}


.icon-clock {
    font-size: 300%;
    display: block;
    color: #5c5c5c;
    margin-bottom: 0px;
    float: right; 
    padding-left: 15%;
}

.bell {
    height: 70px;
    width: auto;
    /*    float: left;*/
    margin-left: 20px;
    margin-bottom: 20px;

}

.ringing-bell {
    height: 70px;
    width: auto;
    /*    float: left;*/
    margin-left: 20px;
    margin-bottom: 20px;

}

.clock {
    height: 70px;
    width: auto;
    margin-left: 40px;
    /*    float: left;*/
    margin-bottom: 20px;
}

.class-zoom-teacher {
    height: 60px;
    width: auto;
    /*    display: block;*/
    /*    margin-left: 40px;    */
}

.class-zoom-student {
    height: 45px;
    width: auto;
    /*    margin-left: 40px;    */
}


/*
.white-board {
border-radius: 10px;
width: 100%;
margin-left: 5%;
margin-right: 20%;
}
*/


.icon-zoom {
    font-size: 300%;
    display: block;
    color: #6c6c6c;
    margin-bottom: 0px;
    /*    float: right;     */
}


.main-nav li {
    display: block;
    margin-left: 40px;
    padding-bottom: 40px;
}





.class-zoom-student:hover,
.class-zoom-teacher:hover,
.box:hover {
    animation: wiggle 5s;
    animation-iteration-count: 5s;
}

@keyframes wiggle {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1.5deg); }
    20% { transform: translate(-4px, 1px) rotate(1.5deg); }
    30% { transform: translate(4px, 3px) rotate(0.5deg); }
    40% { transform: translate(2px, -2px) rotate(1.5deg); }
    50% { transform: translate(-2px, 3px) rotate(-1.5deg); }
    60% { transform: translate(-4px, 2px) rotate(0.5deg); }
    70% { transform: translate(4px, 2px) rotate(-1.5deg); }
    80% { transform: translate(-2px, -2px) rotate(1.5deg); }
    90% { transform: translate(3px, 3px) rotate(0.5deg); }
    100% { transform: translate(2px, -3px) rotate(-1.5deg); }
}


.ringing-bell {
    animation: wiggle2 5s;
    animation-iteration-count: 5s;
}

@keyframes wiggle2 {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1.5deg); }
    20% { transform: translate(-4px, 1px) rotate(1.5deg); }
    30% { transform: translate(4px, 3px) rotate(0.5deg); }
    40% { transform: translate(2px, -2px) rotate(1.5deg); }
    50% { transform: translate(-2px, 3px) rotate(-1.5deg); }
    60% { transform: translate(-4px, 2px) rotate(0.5deg); }
    70% { transform: translate(4px, 2px) rotate(-1.5deg); }
    80% { transform: translate(-2px, -2px) rotate(1.5deg); }
    90% { transform: translate(3px, 3px) rotate(0.5deg); }
    100% { transform: translate(2px, -3px) rotate(-1.5deg); }
}


.horz-scroll {
    overflow-x: auto !important;
    overflow-y: hidden;
    max-width:  75vw !important;
    padding-left: 0% !important;
}

.horz-scroll::-webkit-scrollbar {
    max-width:100%;
}
.horz-scroll::-webkit-scrollbar-track{
    background: #ebebeb;
}


.horz-scroll::-webkit-scrollbar-thumb{
    background: #fd6f71;
}

.horz-scroll::-webkit-scrollbar-thumb:hover{
    background: #e36465; 
}

.gbtn{
    background-color: #58b78c;
}

.ugbtn{
    background-color: #fd6f71;
}

.gbtn, .ugbtn{
    width: 225px;
    height: 100px;
}

.week-num{
    font-size: 30px;
}

.student-name{
    font-size: 35px;
}

.avg-grade{
    font-size:35px;
    font-weight: 600;
}

.grade-preview{
}


.container{
    margin-left: 5% !important;
}



































/*end*/