body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #b4e3f5!important;
}
.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #83d3f0;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.user_card-reg {
	width: 700px;
	margin-top: auto;
	margin-bottom: auto;
	background: #83d3f0;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}


.form_container {
	margin-top: 20px;
}

#form-title{
	color: #fff;
	
}

.login_btn {
	width: 100%;
	background:#fa9f6a !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_btn:hover {
	background: #eb8f59 !important;   
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #fd6f71 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

#messages{
	background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}

.ml-2{
	color:#fd6f71;
	font-weight:bold;
}

.ml-2:hover{
	color:#e36465;
}
.fas {
    width: 20px;
}
.title {
    color: #565c62;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}