<form method="POST" enctype="multipart/form-data" action="">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Update Assignment</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    
    <form method="post">{% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      <input type="submit" value="Confirm">
    </form>

  </div>

</form>