<!-- Main Clasroom Page -->

<!-- Extend base Django HTML file for classroom and subject pages -->
{% extends 'teacher_portal/base.html' %}
{% load static %}

{% block title %}Assignments Page{% endblock %}


{% block additional_navbar_items%}
    <a href="{% url 'subject_admin_page' curr_subject.id%}"><span><img src="{% static 'images/046-presentation.png' %}" class="nav-icons" alt="Subject Icon"/><span class="icon-text">{{curr_subject.name}} Portal</span></a><br>
{% endblock%}

{% block content %}
<body>
	<!-- Page Header -->
<header class="blog-header py-3">
        <div class="hd row d-flex flex-nowrap flex-sm-row justify-content-between align-items-center">
                <h2 class = "report-title">{{curr_subject.name}} Report Card </h2>
        </div>
    </header>
    
    <div class = "report-container container">
		<!-- Display Student Name and Average-->
        <div class="card5 card-body">
        <div class="student-name"> {{curr_student.user.first_name}} {{curr_student.user.last_name}} </div>
        {% if student_average%} 
		<div class="avg-grade">Average Grade: {{student_average}}%</div>
        {% endif %}
        {%for week in weeks_with_submitted_assignments%}
        <div class="container week-num">Week {{week.week_number}}</div>
           <div class="container horz-scroll">
                <table class="table">
                    <tr>
                        {% for submitted_assignment in submitted_assignments %}
                            {%if submitted_assignment.source_assignment.source_weekly_subject_content.week_number == week.week_number%}
                                {%if submitted_assignment.is_graded%}
                                <td> 
                                    <button id="update-assignment-button-{{submitted_assignment.id}}" class="btn gbtn" type="button" name="button">{{submitted_assignment.source_assignment.title}}</button>
                                    <div class="grade-preview"> Grade: {{submitted_assignment.grade}}%</div>
                                </td>
                                {%else%}
                                   <td> <button id="update-assignment-button-{{submitted_assignment.id}}" class="btn ugbtn" type="button" name="button">{{submitted_assignment.source_assignment.title}}</button>
                                </td>
                                {%endif%}
                            {%endif%}
                        {%endfor%}
                    </tr>
             
               </table>
            </div>
        {% endfor %}
        </div>
    </div>

    
</body>

<!-- MODALS -->
<!-- Bootstrap Modal that just displays the contents described in assignment_submit.html -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<!-- Scripts -->
<!-- For use django-bootstrap-modal-forms -->
<script type="text/javascript">
$(document).ready(function() {
	{% for assignment in assignments_for_subject %}

    $("#submit-assignment-button-{{assignment.id}}").modalForm({
        formURL: "{% url 'submit_assignment' assignment.id user.id%}"
    });
	{% endfor %}
	
	{% for submitted_assignment in submitted_assignments %}

    $("#update-assignment-button-{{submitted_assignment.id}}").modalForm({
        formURL: "{% url 'teacher_update_submitted_assignment' submitted_assignment.id user.id submitted_assignment.id %}"
    });
	{% endfor %}
});
</script>


{% endblock content %}

{% block page_javascript%}
	<script src="bell_ring.js"></script>
	<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock  %}