/* Sticky footer styles
-------------------------------------------------- 
colors: #9DC8C8  #58C9B9 #519D9E #D1B6E1 */
/**********Base elements**********/


* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .math-icon, .teacher-icon, .ring-icon, .bb-icon, .zoom{
        height: 20px;
        width: auto;
    }
    .col-sm-6 {
        min-height: 25%;
        min-width: 25%;
    }
    .nav-icons {
        height: 1vh;
        width: 0.5vw;
    }

}
.col-sm-6 {
    min-height: 50%;
    min-width: 50%;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .math-icon, .teacher-icon, .ring-icon, .bb-icon, .zoom{
        height: 30px;
        width: auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .math-icon, .teacher-icon, .ring-icon, .bb-icon, .zoom{
        height: 40px;
        width: auto;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}
body {
    font-family: "Lato", sans-serif;
    background-color: #b4e3f5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.hd{
    margin-top: 1.5vh;
    height: 3vh;
    width: 100vw;
    margin-bottom: 1vh;
}
.teacher-card{
    text-align: center;
}
.title {
    text-align: center;
    font-size: 4vh;
    margin-left: 6vw;
    font-weight: 600;
}
.report-title {
    text-align: center;
    font-size: 4vh;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5.8vw;
}

.footer {
    margin-left: 4vw;
    position: absolute;
    bottom: 0.1vh;
}
.footer .btn-block {
    padding-right: 1vw;
    padding-left: 4vw;
    width: 93.5vw;
    margin-bottom: 1vh;
}
a {
    color: #565c62;
}
a:hover {
    color: #fff;
}
a:focus {
    color: #565c62;
}
a:active {
    color: #565c62;
}
header {
    background-color: #fa9f6a;
    padding-right: 2vw;
    width: 100vw;
    overflow: hidden;
    color: #565c62;
}
.content {
    margin-left: 0;
    margin-right: 0;
}
.h2 {
    font-size: 3vh;
}
/**********Whiteboard and body elements**********/
.aww {
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    border: none;
}
.whiteboard{
    padding-left: 7vw;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    max-width: 85vw;
    height: 80vh;
}
.subject-container {
    padding-left: 7vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 85vw;
    height: 90vh;
    overflow: auto;
}
.report-container {
    margin-top: 2vh;
    padding-left: 7vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 85vw;
    height: 85vh;
    color: #565c62;
}

.week {
    margin-left: 5vw;
    top: 0;
    text-align: center;
    color: #565c62;
    display: inline-block;
}
.teacher-card {
    margin-left: 2vw;
    display: inline-flex;
}
.pick-week {
    display: inline-block;
    margin-bottom: 1.5vh;
}
.pick-week-btn{
    background-color: #fa9f6a;
    color: #565c62;
    height: 4vh;
    font-size: 1.9vh;
    text-align: center;
    text-decoration:none;
    line-height: 1.9vh;
}
.pick-week-btn:focus {
    background-color: #fa9f6a;
    color: #565c62;
}
.pick-week-btn:hover {
    background-color: #eb8f59;
    color: #565c62;
}
.btn-secondary:active{
    background-color: #fa9f6a;
}
/**********Icons************/
.math-icon, .teacher-icon, .ring-icon, .zoom{
    height: 5vh;
    width: auto;
}
.bb-icon {
    height: 6vh;
    width: auto;
}
.ring-icon {
    margin-left: 3vw;
    align-items: flex-end;
    margin-top: 1vh;
}
.clock {
    align-self: flex-start;
    width: auto;
    margin-right: 2vw;
}
/*******NavBar***********/
.sidebar {
    height: 100%;
    width: 5vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #83d3f0;
    overflow-x: hidden;
    transition: all 0.5s ease;
    padding-top: 10vh;
    white-space: nowrap;
}

.sidebar a {
    padding: 1vh 1.5vw 1vh 1.5vw;
    text-decoration: none;
    font-size: 1.5vw;
    color: #565c62;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

main .sidebar{
    position: absolute;
    top: 0;
    right: 3vw;
    font-size: 3vh;
    margin-left: 4vw;
}

.nav-icons,
.icon-text {
    padding-bottom: 3px;
    vertical-align: middle;
}

.nav-icons {
    margin-right: 2vw;
    height: 2vw;     
}
div.clock.small div.date {
    text-align: center;
    text-decoration: none;
}
#main {
    margin-left: 0;
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}
@media screen and(min-width: 768px){
    .aww {
        height: 50%;
        width: 20%;
    }
}
/***************Zoom nav *************/
.main-nav {
    color: #565c62;
    text-align: center;
    float: right;

    /* This gets rid of the bullet points. */
    list-style: none;

    /* Offset the main navigation elements from the top of the page. */
    margin-top: 55px;
}
.class-zoom-teacher{
    height: 15vh;
    margin-bottom: 1vh;
}
.zooms {
    margin-bottom: 2vh;
    text-align: center;
    font-size: 2.5vh;
}
/**************Bottom nav***************/
.btn-secondary:hover{
    background-color: #eb8f59;
}
.footer-btn{
    background-color: #fa9f6a;
    color: #565c62;
    height: 8vh;
    font-size: 2vh;
    display: inline-block;
}
.btn-secondary:focus{
    background-color: #fa9f6a;
}

.btn-secondary:active{
    background-color: #fa9f6a;
}
.nav-icon {
    height: 5vh;
}
/************Assignment Bins************/
.assn1 {
    margin-left: auto;
    margin-right: auto;
    position:relative;
    padding-left: 50px;
    display: block;
    height: 100px;
    width: auto;
    margin-bottom: 150px;
}
.assn2 {
    margin-left: auto;
    margin-right: auto;
    position:relative;
    padding-left: 50px;
    display: block;
    height: 100px;
    width: auto;
    margin-bottom: 100px;
}
.assn-bins {
    padding-top: 100px;
}
.assn-title{
    margin-left: 50px;
    color: #565c62;
    text-align: center;
}
.modal-title {
    text-align: center;
}
.contact {
    margin-right: 5px;
    color: #565c62;
}
/**********Cards**************/
.card5 {
    height: 85vh;
    overflow: scroll;
    border: 2px solid #fa9f6a;
    border-radius: 1%;
    display: block;
    overflow: auto;
    background-color: rgb(210, 232, 240);
    margin-top: 2vh;  
    color: #565c62;
    font-size: 2vh;
}
.card1, .card2, .card3, .card4 {
    height: 35vh;
    overflow: scroll;
    border: 2px solid #fa9f6a;
    border-radius: 1%;
    display: block;
    overflow: auto;
    background-color: rgb(210, 232, 240);
    margin-top: 2vh;  
    color: #565c62;
    font-size: 2vh;
}
.card-hdr{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3vw;
}
.assn-card {
    overflow: auto;
    font-size: 1vw;
}
.assn-card-1 {
    height: 45vh;
    font-size: 1vw;
    overflow: auto;
}
.sub-btn{
    height: 3vh;
    font-size: 1.5vh;
    text-align: center;
    text-decoration:none;
    line-height: 1.5vh;
}
/********Malyssa's code**********/
.horz-scroll {
    overflow-x: auto !important;
    overflow-y: hidden;
    max-width:  75vw !important;
    padding-left: 0% !important;
}

.horz-scroll::-webkit-scrollbar {
    max-width:100%;
}
.horz-scroll::-webkit-scrollbar-track{
    background: #ebebeb;
}


.horz-scroll::-webkit-scrollbar-thumb{
    background: #fd6f71;
}

.horz-scroll::-webkit-scrollbar-thumb:hover{
    background: #e36465; 
}

.gbtn{
    background-color: #58b78c;
}

.ugbtn{
    background-color: #fd6f71;
}

.gbtn, .ugbtn{
    width: 15vw;
    height: 15vh;
    color: #565c62;
    font-size: 1vw;
}

.week-num{
    font-size: 2.5vh;
    font-weight: 300;
}

.student-name{
    font-size: 4vh;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
}

.avg-grade, .week-num{
    font-size: 3vh;
    font-weight: 400;
    text-align: center;
}
