<form method="POST" enctype="multipart/form-data" action="">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Grade Assignment</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <!-- Display Assignment Information -->
    <h6><b>{{curr_assignment.title}}</b></h6>
    <p>{{curr_assignment.description}}</p>
    <p>


    </p>

    {% if curr_submitted_assignment.completed_assignment %}
    <a class="btn btn-primary" href="{{curr_submitted_assignment.completed_assignment.url}}" role="button">Download Submission</a>
    {% endif %}
    <hr>
    {% for field in form %}
      <div class="form-group{% if field.errors %} invalid{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-primary">Grade</button>
  </div>

</form>