{% extends 'teacher_portal/base.html' %}
{% load static %}
{% block title %}Teacher Portal{% endblock %}

{% block content %}
 <body>
  <header class="blog-header py-3">
    <div class="hd row flex-nowrap flex-xl-row justify-content-between align-items-center">
      <div class="col text-center">
          <a class="blog-header-logo h2" href="#">TEACHER PORTAL</a>
      </div>
    </div>
  </header>
</body>
{% endblock content %}