<!-- Main Teacher Portal Page -->

<!-- Extend base Django HTML file -->
{% extends 'teacher_portal/base.html' %}
{% load static %}

{% block title %}Teacher Portal{% endblock %}

{% block page_css %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/classroom/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/classroom/grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/classroom/ionicons.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/classroom/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet"> 
{% endcomment %}
{% endblock %}

{% block content %}
<body>
    <header class="blog-header py-3">
        <div class="hd row d-flex flex-nowrap flex-sm-row justify-content-between align-items-center">
            <div class="teacher-card col-sm ">
                
                
            </div>
            <div class="title col-sm-7 justify-content-center align-items-center">
                <h2 class = "title">{{curr_classroom.name}}</h2>
            </div>
            <div class="clock-plc col-sm d-flex ">
                <!-- <a class="ring" href="#"><img src="{% static 'images/006-bell.png' %}" class="ring-icon" alt="Ring Icon"/></a>-->
                <iframe src="http://free.timeanddate.com/clock/i7k8xx26/n856/fn6/fs16/fc565c62/tcfa9f6a/ftb/bas2/bat0/bacfff/pa8/tt0/tw1/tm1/th2/tb4" frameborder="0" width=100% height="55" class = "clock"></iframe>
            </div>
        </div>
    </header>
    <!-- Div where whiteboard used to be. -->
    <div class = "whiteboard container">
        <div class = "r1 row">
            <div class="aww-place col-sm-6">
                <!-- Experiment with content on left here. -->
                <!-- Card containing class weekly contents -->
                <div class="card1 card-body">
                    <div class="d-flex justify-content-left">
                        <h5 class="card-hdr"><b>WEEKLY CLASSROOM CONTENT</b></h5>
                    </div>
                    <!-- Selector for the week to administer in the classroom -->
                    <form method="POST" action="" class = "pick-week">{% csrf_token %}
                    <select name = "week_wanted">
                        {% for week_content in week_classroom_contents %}<!---->
                        {% if week_content.week_number == current_week.week_number %}
                        <option value="{{week_content.week_number}}" selected>Week {{week_content.week_number}}</option>
                        {% endif %}
                        {% if week_content.week_number != current_week.week_number %}
                        <option value="{{week_content.week_number}}">Week {{week_content.week_number}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" name="week_wanted_submit" value="Go to Week" class = "pick-week-btn btn btn-secondary" />
                    </form>
                    <!-- Form to update weekly class contents for selected week -->
                    <form method="POST" action="">{% csrf_token %}
                        {{classroom_weekly_contents_update_form.as_p}}
                        <!-- Show any errors from our form -->
				        {{classroom_weekly_contents_update_form.errors}}
                        <input type="submit" name="week_class_contents_update" value="Update" class = "pick-week-btn btn btn-secondary" />
                    </form>
                                 
                </div>

                <div class="card2 card-body">
                    <div class="d-flex justify-content-left">
                        <h5 class="card-hdr"><b>CREATE NEW WEEK</b></h5>
                    </div>
                    <!-- Form to create new week of class -->
                    <form method="POST" action="">{% csrf_token %}
                        {{create_class_week_form.as_p}} <!-- Render form as paragraph -->

                        <!-- Show any errors from our form -->
				        {{create_class_week_form.errors}}
                        <input type="submit" name="create_new_week" value="Create Week" class = "pick-week-btn btn btn-secondary" />
                    </form>                     
                </div> <!-- End card body -->

                <!-- Card containing general class contents -->

                <!-- Show flash messages from Django.  Could be errors, etc -->
                {% for message in messages %}
                    <!-- Show all messages as a list -->
                    <p id="messages">{{message}}</p>
                {% endfor %}
            </div>

            <!-- Div where zoom links used to be in classroom -->
            <div class="col-sm-6" >
                <!-- Card to create a new week of classes. -->

                <div class="card3 card-body">
                    <div class="d-flex justify-content-left">
                        <h5 class="card-hdr"><b>CLASSROOM CONTENT</b></h5>
                    </div>

                    <!-- Form to update class contents -->
                    <form method="POST" action="">{% csrf_token %}
                        <table class = "table1" style="width:100%">
                            <tr>
                                <th></th>
                                <th>Zoom Link</th>
                                <th>Available?</th>
                            </tr>
                            <tr>
                                <th>Class Zoom Link: </th>
                                <th>{{classroom_contents_update_form.class_zoom_link}}</th>
                                <th>{{classroom_contents_update_form.class_available}}</th>
                            </tr>
                            <tr>
                                <th>Teacher Zoom Link: </th>
                                <th>{{classroom_contents_update_form.teacher_zoom_link}}</th>
                                <th>{{classroom_contents_update_form.teacher_available}}</th>
                            </tr>
                            <tr>
                                <th>Tutor Zoom Link: </th>
                                <th>{{classroom_contents_update_form.tutor_zoom_link}}</th>
                                <th>{{classroom_contents_update_form.tutor_available}}</th>
                            </tr>
                        </table>

                        <!-- Show any errors from our form -->
				        {{classroom_contents_update_form.errors}}
                        <input type="submit" name="class_contents_update" value="Update" class = "pick-week-btn btn btn-secondary" />
                    </form> 

                    <!-- Update the current week setting -->
                    <form method="POST" action="" class = "pick-week">{% csrf_token %}
                    <select name = "curr_week_wanted">
                        {% for week_content in week_classroom_contents %}<!---->
                        {% if week_content.week_number == curr_database_week %}
                        <option value="{{week_content.week_number}}" selected>Week {{week_content.week_number}}</option>
                        {% endif %}
                        {% if week_content.week_number != curr_database_week %}
                        <option value="{{week_content.week_number}}">Week {{week_content.week_number}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" name="set_current_week" value="Update Current Week" class = "pick-week-btn btn btn-secondary" />
                    </form>
                    
                </div> <!-- End card body -->
                <!-- Show flash messages from Django.  Could be errors, etc -->
                {% for message in messages %}
                    <!-- Show all messages as a list -->
                    <p id="messages">{{message}}</p>
                {% endfor %}
                <div class="card4 card-body">
                    <div class="d-flex justify-content-left">
                        <h5 class ="card-hdr"><b>STUDENT LIST</b></h5>
                    </div>
                    <!-- List students and link to assignment page where teacher can update grades -->
                    <div class="assn-card card card-body">
                        <table>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Contact Info</th>
                            </tr>
                            {% for student in attending_students %}
                                <tr>
                                    <td>{{student.user.first_name}}</td>
                                    <td>{{student.user.last_name}}</td>
                                    <td><button id="contact-info-{{student.user.id}}" class="btn btn-sm btn-info" type="button" name="button" >Contact Info</button></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>               
                </div> <!-- End card body -->
            </div>
        </div>


    </div> <!-- End of whiteboard container -->
<!-- Footer with subject pages menu -->
<div class = "footer">
    <div class="btn-group btn-block" role="group">
        {% for subject in class_subjects %}
        <a class="footer-btn btn btn-secondary btn-lg" a href="{% url 'subject_admin_page' subject.id current_week.week_number %}" role = "button"><img src="{{subject.logo.url}}" class="nav-icon" alt="Math Icon"/>{{subject.name}}</a>
        {% endfor %} 

    </div>
</div>


</body>

<!-- MODALS -->
<!-- Bootstrap Modal that just displays the contents described in assignment_submit.html -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<!-- Scripts -->
<!-- For use django-bootstrap-modal-forms -->
<script type="text/javascript">
    $(document).ready(function() {

        $("#create-new-class-week").modalForm({
            formURL: "{% url 'create_new_class_week' curr_classroom.id %}"
        });
        
        {% for student in attending_students %}

        $("#contact-info-{{student.user.id}}").modalForm({
            formURL: "{% url 'student_contact_info_modal' student.user.id %}"
        });
        {% endfor %}
});
</script>



<!-- Scripts -->
<!-- For use django-bootstrap-modal-forms -->
<!-- For creating a new week of classroom and subjects -->
{% comment %} <script type="text/javascript">
$(document).ready(function() {
    $("#create-new-class-week").modalForm({
        formURL: "{% url 'create_new_class_week' curr_classroom.id %}",
    });
    
    
});
</script> {% endcomment %}

{% endblock content %}

{% block page_javascript%}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock  %}