<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}

    <div class="modal-header">
    <h5 class="modal-title">CONTACT INFO - {{curr_student.user.first_name}} {{curr_student.user.last_name}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="modal-body">
        <style>
        .table {
            border-collapse: separate;
            border-spacing: 20px 0;
        }

        .td {
            padding: 10px 0;
        }
        </style>
        <!-- Table Listing all Available Guardian and Emergency Contact Info -->
        {% if curr_student.emergency_contact_firstname and curr_student.emergency_contact_lastname %}
        <h6><b>Emergency Contact Info</b></h6>
        <hr>
        <table style="border-collapse: separate; border-spacing: 20px 0;">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td>
                {% if curr_student.emergency_contact_firstname and curr_student.emergency_contact_lastname %}
                {{curr_student.emergency_contact_firstname}} {{curr_student.emergency_contact_lastname}}
                {% else %}

                {% endif %}
                </td>
                <td>
                {% if curr_student.emergency_contact_email %}
                {{curr_student.emergency_contact_email}} 
                {% else %}

                {% endif %}
                </td>
                <td>
                {% if curr_student.emergency_contact_phone %}
                {{curr_student.emergency_contact_phone}}
                {% else %}

                {% endif %}
                </td>
            </tr>
        </table>
        {% endif %}

        {% if curr_student.guardian1_firstname and curr_student.guardian1_lastname %}
        <hr>
        <h6><b>Guardian 1 Contact Info</b></h6>
        <hr>
        <table style="border-collapse: separate; border-spacing: 20px 0;">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td>
                {% if curr_student.guardian1_firstname and curr_student.guardian1_lastname %}
                {{curr_student.guardian1_firstname}} {{curr_student.guardian1_lastname}}
                {% else %}

                {% endif %}
                </td>
                <td>
                {% if curr_student.guardian1_email %}
                {{curr_student.guardian1_email}} 
                {% else %}

                {% endif %}
                </td>
                <td>
                {% if curr_student.guardian1_phone %}
                {{curr_student.guardian1_phone}}
                {% else %}

                {% endif %}
                </td>
            </tr>
        </table>
        {% endif %}

        {% if curr_student.guardian2_firstname and curr_student.guardian2_lastname %}
        <hr>
        <h6><b>Guardian 2 Contact Info</b></h6>
        <hr>
        <table style="border-collapse: separate; border-spacing: 20px 0;">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            <tr>
                <td>
                {% if curr_student.guardian2_firstname and curr_student.guardian2_lastname %}
                {{curr_student.guardian2_firstname}} {{curr_student.guardian2_lastname}}
                {% else %}

                {% endif %}
                </td>
                <td>
                {% if curr_student.guardian2_email %}
                {{curr_student.guardian2_email}} 
                {% else %}

                {% endif %}
                </td>
                <td>
                {% if curr_student.guardian2_phone %}
                {{curr_student.guardian2_phone}}
                {% else %}

                {% endif %}
                </td>
            </tr>
        </table>
        {% endif %}

    </div>

    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

</form>