<!-- Subject Portal Page -->

<!-- Extend base Django HTML file -->
{% extends 'teacher_portal/base.html' %}
{% load static %}

{% block title %}Teacher Portal{% endblock %}

{% block page_css %}

{% endblock %}



{% block content %}
<body>
    <header class="blog-header py-3">
        <div class="hd row d-flex flex-nowrap flex-sm-row justify-content-between align-items-center">
            <!-- Teacher Info -->
            <div class="col pt-1">

            </div>
            <!-- Page Title -->
            <div class="title col-sm-7 justify-content-center align-items-center">
                <h2 class = "title">{{curr_subject.name}}</h2>
            </div>
            <!-- School Bell -->
            <div class="clock-plc col-sm d-flex ">
                <!-- <a class="ring" href="#"><img src="{% static 'images/006-bell.png' %}" class="ring-icon" alt="Ring Icon"/></a>-->
                <iframe src="http://free.timeanddate.com/clock/i7k8xx26/n856/fn6/fs16/fc565c62/tcfa9f6a/ftb/bas2/bat0/bacfff/pa8/tt0/tw1/tm1/th2/tb4" frameborder="0" width=100% height="55" class = "clock"></iframe>
            </div>
        </div>
    </header>
    <!-- Div where whiteboard used to be. -->
    <div class = "subject-container container">
        <div class = "row">
            <div class="aww-place col-sm-6">
                <!-- Experiment with content on left here. -->
                <!-- Card containing class weekly contents -->
                <div class="card5 card-body">
                    <div class="d-flex justify-content-left">
                        <h5 class = "card-hdr"><b>WEEKLY SUBJECT PAGE CONTENT</b></h5>
                    </div>
                    <!-- Selector for the week to administer in the classroom -->
                    <form method="POST" action="" class = "pick-week">{% csrf_token %}
                    <select name = "week_wanted">
                        {% for week_content in week_subject_contents %}<!---->
                        {% if week_content.week_number == current_subject_week.week_number %}
                        <option value="{{week_content.week_number}}" selected>Week {{week_content.week_number}}</option>
                        {% endif %}
                        {% if week_content.week_number != current_subject_week.week_number %}
                        <option value="{{week_content.week_number}}">Week {{week_content.week_number}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" name="week_wanted_submit" value="Go to Week" class = "pick-week-btn btn btn-secondary" />
                    </form>
                    <!-- Form to update weekly class contents for selected week -->
                    <form method="POST" action="">{% csrf_token %}
                        {{subject_weekly_contents_update_form.as_p}}
                        <!-- Show any errors from our form -->
				        {{subject_weekly_contents_update_form.errors}}
                        <input type="submit" name="week_subject_contents_update" value="Update" class = "pick-week-btn btn btn-secondary" />
                    </form>
                    <!-- Manage assignments for the week -->
                    <div class="d-flex justify-content-left">
                    <h5 class = "card-hdr"><b>MANAGE WEEK ASSIGNMENTS</b></h5>
                    </div>
                    <div class="assn-card-1 card card-body">
                        <!-- Button to add a class using a modal form. -->    
                        <button id="create-new-assignment" class="pick-week-btn btn btn-secondary" type="button" name="button" >Create Assignment</button> 
                        <br>
                        <table class="table table-sm">
                            <tr>
                                <th>Title</th>
                                <th>Update</th>
                                <th>Remove</th>
                            </tr>

                            {% for assignment in assignments_for_subject_week %}
                                <tr>
                                    <td>{{assignment.title}}</td>
                                    <td><button id="update-assignment-button-{{assignment.id}}" class="sub-btn btn btn-sm btn-info" type="button" name="button" >Update</button></td>
                                    <td><button id="delete-assignment-button-{{assignment.id}}" class="sub-btn btn btn-sm btn-danger" type="button" name="button" >Delete</button></td>
                                </tr>
                            {% endfor %}  
                        </table>
                    </div>         
                </div>

                <!-- Show flash messages from Django.  Could be errors, etc -->
                {% for message in messages %}
                    <!-- Show all messages as a list -->
                    <p id="messages">{{message}}</p>
                {% endfor %}
            </div>

            <!-- Div where zoom links used to be in classroom -->
            <div class="col-sm-6" >
                <!-- Card to list students in subject of class. -->
                <div class="card1 card-body">
                    <div class="d-flex justify-content-left">
                        <h5 class = "card-hdr"><b>STUDENT LIST</b></h5>
                    </div>
                    <!-- List students and link to assignment page where teacher can update grades -->
                    <div class="assn-card card card-body">
                        <table class="table table-sm" >
                            <tr >
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Student Grades</th>
                            </tr>
                            {% for student in attending_students %}
                                                        
                                <tr style="height: 3vh;">
                                    <td>{{student.user.first_name}}</td>
                                    <td>{{student.user.last_name}}</td>
                                    {% comment %} <td><button class="sub-btn btn btn-sm btn-info" type="button" name="button" >Grades</button></td> {% endcomment %}
                                    <td style="margin-top: auto; margin-bottom: auto"><a href="{% url 'student_profile_and_assignments_view' curr_subject.id student.user.id %}" class="sub-btn btn-sm btn-info" role="button">Grades</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>               
                </div> <!-- End card body -->
                
                <!-- Card to list assignments that need grading. -->
                <div class="card2 card-body">
                    <div class="d-flex justify-content-left">
                        <h5 class = "card-hdr"><b>GRADING QUEUE</b></h5>
                    </div>
                    <!-- List assignments for subject that still need to be graded. -->
                    <div class="assn-card card card-body">
                        <table class="table table-sm">
                            <tr>
                                <th>Assignment Title</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Grade</th>
                            </tr> <!-- UPDATE HERE!!!!! -->
                            {% for submitted_assignment in submitted_assignments_needing_grade %}
                                <tr>
                                    <td>{{submitted_assignment.source_assignment.title}}</td>
                                    <td>{{submitted_assignment.source_student.user.first_name}}</td>
                                    <td>{{submitted_assignment.source_student.user.last_name}}</td>
                                    <td><button id="grade-assignment-button-{{submitted_assignment.id}}" class="sub-btn btn btn-sm btn-info" type="button" name="button" >Grade</button></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>               
                </div> <!-- End card body -->

            </div>
        </div>

    </div> <!-- End of whiteboard container -->
</body>

<!-- MODALS -->
    <!-- Bootstrap Modal that just displays the contents described in assignment_submit.html -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

<!-- Scripts -->
<!-- For use django-bootstrap-modal-forms -->
<script type="text/javascript">
$(document).ready(function() {
    $("#create-new-assignment").modalForm({
        formURL: "{% url 'create_assignment_modal' current_subject_week.id %}"
    });

    {% for assignment in assignments_for_subject_week %}

    $("#update-assignment-button-{{assignment.id}}").modalForm({
        formURL: "{% url 'teacher_update_assignment_modal' current_subject_week.id assignment.id %}"
    });
	{% endfor %}

    {% for assignment in assignments_for_subject_week %}

    $("#delete-assignment-button-{{assignment.id}}").modalForm({
        formURL: "{% url 'delete_assignment_modal' current_subject_week.id assignment.id %}"
    });
	{% endfor %}

    {% for submitted_assignment in submitted_assignments_needing_grade %}

    $("#grade-assignment-button-{{submitted_assignment.id}}").modalForm({
        formURL: "{% url 'grade_assignment_assignment_modal' submitted_assignment.id %}"
    });
    {% endfor %}

    

});
</script>

{% endblock content %}

{% block page_javascript%}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock  %}