<form method="POST" enctype="multipart/form-data" action="">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Update Assignment Grade</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <!-- Display Assignment Information -->
    <h6><b>{{curr_assignment.title}}</b></h6>
    <p>{{curr_assignment.description}}</p>
    <p>


    </p>
    <!-- Show file download link if there is a submitted file to download-->
    {% if curr_submitted_assignment.completed_assignment %}
    <a class="btn btn-primary" href="{{curr_submitted_assignment.completed_assignment.url}}" role="button">Download Submission</a>
    {% endif %}
    <p>


    </p>
    <!-- Show all fields allowed for editing in form (browse window) -->
    <!-- Could possibly just remove loops later to help with formatting -->
    {% for field in form %}
      <div class="form-group{% if field.errors %} invalid{% endif %}">
        <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
        <p>
          {{field}}
        </p>
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-primary">Update</button>
  </div>

</form>