/* Sticky footer styles
-------------------------------------------------- 
colors: #9DC8C8  #58C9B9 #519D9E #D1B6E1 */
html {
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #b4e3f5;
  width: 100vw;
  height: 100vh;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}
.hd{
    margin-top: 5px;
    height: 50px;
}
.footer {
 padding-top: 20px;
  width: 100%;
  margin-left: 0;
}
a {
    color: #fff;
}
header {
    background-color: #fa9f6a;
    padding-left: 100px;
    padding-right: 15px;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.container {
    padding-left: 85px;
}
.aww {
    margin-top: 15px;
}

.math-icon, .ring-icon, .bb-icon{
    height: 50px;
    width: auto;
}
.ring-icon {
    padding-left: 150px;
}
.sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #83d3f0 ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

main .sidebar{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-icons,
.icon-text {
  padding-bottom: 3px;
  vertical-align: middle;
}

.nav-icons {
  margin-right: 30px;
  height: 30px;
  width: auto;      
}
div.clock.small div.date {
    text-align: center;
    text-decoration: none;
}
#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.week {
    text-align: center;
    padding-top: 15px;
    color: #565c62;
}
.main-nav {
    color: #565c62;
    text-align: center;
    float: right;

    /* This gets rid of the bullet points. */
    list-style: none;

    /* Offset the main navigation elements from the top of the page. */
    margin-top: 55px;
}
.class-zoom-teacher{
    height: 70px;
}
.class-zoom-student{
    height: 50px;
}
.btn-secondary:hover{
   background-color: #eb8f59;
}
.btn-secondary{
   background-color: #fa9f6a;
}
.btn-secondary:focus{
   background-color: #fa9f6a;
}
.btn-secondary:visited{
   background-color: #fa9f6a;
}