<!-- Main Clasroom Page -->

<!-- Extend base Django HTML file for classroom and subject pages -->
{% extends 'classroom/base.html' %}
{% load static %}

{% block title %}Classroom{% endblock %}

{% block page_css %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/classroom/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/classroom/grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/classroom/ionicons.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/classroom/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet"> 
{% endcomment %}
{% endblock %}

{% block content %}
<body>
    <header class="blog-header py-3">
        <div class="hd row d-flex flex-nowrap flex-sm-row justify-content-between align-items-center">
            <div class="teacher-card col-sm ">
                <img src="{% static 'images/024-teacher-1.png' %}" class="teacher-icon" alt="teacher Icon"/><a class ="teacher" href="#" data-toggle="modal" data-target="#tModal">Mrs. Anna Smith</a>
                <!-- Modal -->
                <div class="modal fade" id="tModal" tabindex="-1" role="dialog"  aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document" >
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Contact Information</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>  
                            </div>
                            <div class="modal-body">
                                <img src="{% static 'images/t1.jpg' %}" class="teacher-pic" alt="teacher pic"/>
                                <p>Mrs. Anna Smith</p>
                                <ion-icon class = "contact" size = "large" name="call-outline"></ion-icon>
                                <ion-icon class = "contact" size = "large" name="videocam-outline"></ion-icon>
                                <ion-icon class = "contact" size = "large" name="mail-outline"></ion-icon>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="title col-sm-7 justify-content-center align-items-center">
                <img src="{% static 'images/021-blackboard.png' %}" class="bb-icon" alt="Blackboard Icon"/>
                <a class="blog-header-logo h2" href="{% url 'home' %}"><img src="{% static 'images/class.png' %}" class="bb-icon" alt="Blackboard Icon"/></a>
            </div>
            <div class="clock-plc col-sm d-flex ">
                <!-- <a class="ring" href="#"><img src="{% static 'images/006-bell.png' %}" class="ring-icon" alt="Ring Icon"/></a>-->
                <iframe src="http://free.timeanddate.com/clock/i7k8xx26/n856/fn6/fs16/fc565c62/tcfa9f6a/ftb/bas2/bat0/bacfff/pa8/tt0/tw1/tm1/th2/tb4" frameborder="0" width=100% height="55" class = "clock"></iframe>
            </div>
        </div>
    </header>
    <div class = "whiteboard container">
        <div class = "r1 row">
            <div class="col-sm-10">
                <form method="POST" action="" class = "pick-week">{% csrf_token %}
                <select name = "week_wanted">
                    {% for week_content in week_classroom_contents %}
                    {% if week_content.week_number == current_week.week_number %}
                    <option value="{{week_content.week_number}}" selected>Week {{week_content.week_number}}</option>
                    {% endif %}
                    {% if week_content.week_number != current_week.week_number %}
                    <option value="{{week_content.week_number}}">Week {{week_content.week_number}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="submit"  value="Go to Week" class = "pick-week-btn btn btn-secondary" />
                </form>
            <h3 class = "week">{{current_week.week_date_header}}</h3>
            <!-- Try experimenting with dropdown to update page contents -->
            <iframe class = "aww" src={{current_week.whiteboard_link}}></iframe>
        </div>
        <div class="col-sm-2">
            <ul class="main-nav">
                <li class = "zooms"><a href={{class_zoom_link}}>{% if class_available %}<img src="{% static 'images/teacher-zoom-available.png' %}" alt="Class Zoom Teacher Icon" class="class-zoom-teacher">{% else %}<img src="{% static 'images/teacher-zoom-busy.png' %}" alt="Class Zoom Teacher Icon" class="class-zoom-teacher">{% endif %}</a><br/>Class Zoom</li>
                <li class = "zooms"><a href={{teacher_zoom_link}}>{% if teacher_available %}<img src="{% static 'images/1-1-zoom-available.png' %}" alt="Class Zoom Teacher Icon" class="class-zoom-teacher">{% else %}<img src="{% static 'images/1-1-zoom-busy.png' %}" alt="Class Zoom Teacher Icon" class="class-zoom-teacher">{% endif %}</a><br/>1:1 Teacher Zoom</li>
                <li class = "zooms"><a href={{tutor_zoom_link}}>{% if tutor_available %}<img src="{% static 'images/tutor-available.png' %}" alt="Class Zoom Teacher Icon" class="class-zoom-teacher">{% else %}<img src="{% static 'images/tutor-busy.png' %}" alt="Class Zoom Teacher Icon" class="class-zoom-teacher">{% endif %}</a><br/>1:1 Tutor Zoom</li>
            </ul> 
        </div>
    </div>
    </div>
<div class = "footer">
    <div class="btn-group btn-block" role="group">
        {% comment %} <a class="btn btn-secondary btn-lg" a href="{% url 'subject_page' %}" role = "button"><img src="{% static 'images/abacus.png' %}" class="math-icon" alt="Math Icon"/>Math</a>
        <a class="btn btn-secondary btn-lg" a href="{% url 'subject_page' %}" role = "button"><img src="{% static 'images/014-flask.png' %}" class="math-icon" alt="Science Icon"/> Science</a>
        <a class="btn btn-secondary btn-lg" a href="{% url 'subject_page' %}" role = "button"><img src="{% static 'images/049-palette.png' %}" class="math-icon" alt="Math Icon"/>Art</a>
        <a class="btn btn-secondary btn-lg" a href="{% url 'subject_page' %}" role = "button"><img src="{% static 'images/031-papyrus.png' %}" class="math-icon" alt="Math Icon"/>Writing</a> {% endcomment %}

        {% for subject in class_subjects %}
        {% if subject.logo.url %} 
        <a class="footer-btn btn btn-secondary btn-lg" a href="{% url 'dynamic_subject_page' subject.id %}" role = "button"><img src="{{subject.logo.url}}" class="nav-icon" alt="Math Icon"/>{{subject.name}}</a>
        {% else %}
        <a class="footer-btn btn btn-secondary btn-lg" a href="{% url 'dynamic_subject_page' subject.id %}" role = "button">{{subject.name}}</a>
        {% endif %}
        {% endfor %} 

    </div>
</div>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>   
</body>

{% endblock content %}

{% block page_javascript%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="bell_ring.js"></script>
{% endblock  %}