<!-- Main Clasroom Page -->

<!-- Extend base Django HTML file for classroom and subject pages -->
{% extends 'classroom/base.html' %}
{% load static %}

{% block title %}Classroom{% endblock %}

{% block page_css %}

{% endblock %}

{% block content %}
<body>
    <header class="blog-header py-3">
        <div class="hd row d-flex flex-nowrap flex-sm-row justify-content-between align-items-center">
            <div class="title col-sm-7 justify-content-center align-items-center">
                
            </div>
            <div class="clock-plc col-sm d-flex ">
                
            </div>
        </div>
    </header>
    <div class = "whiteboard container">
        <h3>You are not part of a class.</h3>
        <h5>Please logout and contact your IT admin.</h5>
    </div>
<div class = "footer">
    
</div>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>   
</body>

{% endblock content %}

{% block page_javascript%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock  %}