/* Sticky footer styles
-------------------------------------------------- 
colors: #9DC8C8  #58C9B9 #519D9E #D1B6E1 */
/**********Base elements**********/
* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .math-icon, .teacher-icon, .ring-icon, .bb-icon, .zoom{
        height: 20px;
        width: auto;
    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .math-icon, .teacher-icon, .ring-icon, .bb-icon, .zoom{
        height: 30px;
        width: auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .math-icon, .teacher-icon, .ring-icon, .bb-icon, .zoom{
        height: 40px;
        width: auto;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}
body {
    font-family: "Lato", sans-serif;
    background-color: #b4e3f5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.hd{
    margin-top: 1.5vh;
    height: 5vh;
    width: 100vw;
    margin-bottom: 1vh;
}
.teacher-card{
    text-align: center;
}
.title {
    text-align: center;
}

.footer {
    margin-left: 4vw;
    position: absolute;
    bottom: 0.1vh;
}
.footer .btn-block {
    margin-left: 0.6vw;
    width: 94vw;
    margin-bottom: 1vh;
}
a {
    color: #565c62;
}
a:hover {
    color: #fff;
}
a:focus {
    color: #565c62;
}
a:active {
    color: #565c62;
}
header {
    margin-left: 4vw;
    background-color: #fa9f6a;
    padding-right: 2vw;
    width: 100vw;
    overflow: hidden;
}
.content {
    margin-left: 0;
    margin-right: 0;
}
/**********Whiteboard and body elements**********/
.aww {
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    border: none;
}
.whiteboard{
    padding-left: 7vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: 85vw;
    height: 90vw;
}
.r1 {
    height: 80vh;
}
.week {
    margin-left: 5vw;
    top: 0;
    text-align: center;
    color: #565c62;
    display: inline-block;
}
.teacher-card {
    margin-left: 2vw;
    display: inline-flex;
}
.pick-week {
    display: inline-block;
    margin-bottom: 1vh;
}
.pick-week-btn{
    background-color: #fa9f6a;
    color: #565c62;
}
 .pick-week-btn:focus {
    background-color: #fa9f6a;
    color: #565c62;
}
.pick-week-btn:hover {
    background-color: #eb8f59;
    color: #565c62;
}
.btn-secondary:active{
    background-color: #fa9f6a;
}
/**********Icons************/
.math-icon, .teacher-icon, .ring-icon, .zoom{
    height: 5vh;
    width: auto;
}
.bb-icon {
    height: 6vh;
    width: auto;
}
.ring-icon {
    margin-left: 3vw;
    align-items: flex-end;
    margin-top: 1vh;
}
.clock {
    align-self: flex-start;
    width: auto;
    margin-right: 2vw;
}
/*******NavBar***********/
.sidebar {
    height: 100%;
    width: 5vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #83d3f0;
    overflow-x: hidden;
    transition: all 0.5s ease;
    padding-top: 10vh;
    white-space: nowrap;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.5vh;
    color: #565c62;
    display: block;
    /*transition: 0.3s;*/
}

.sidebar a:hover {
    color: #f1f1f1;
}

main .sidebar{
    position: absolute;
    top: 0;
    right: 3vw;
    font-size: 3vh;
    margin-left: 4vw;
}

.nav-icons,
.icon-text {
    padding-bottom: 3px;
    vertical-align: middle;
}

.nav-icons {
    margin-right: 2vw;
    height: 4vh;
    width: 2vw;      
}
div.clock.small div.date {
    text-align: center;
    text-decoration: none;
}
#main {
    margin-left: 0;
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}
@media screen and(min-width: 768px){
    .aww {
        height: 50%;
        width: 20%;
    }
}
/***************Zoom nav *************/
.main-nav {
    color: #565c62;
    text-align: center;
    float: right;

    /* This gets rid of the bullet points. */
    list-style: none;

    /* Offset the main navigation elements from the top of the page. */
    margin-top: 55px;
}
.class-zoom-teacher{
    height: 15vh;
    margin-bottom: 1vh;
}
.zooms {
    margin-bottom: 2vh;
    text-align: center;
    font-size: 2.5vh;
}
/**************Bottom nav***************/
.btn-secondary:hover{
    background-color: #eb8f59;
}
.btn-secondary{
    background-color: #fa9f6a;
    color: #565c62;
}
.btn-secondary:focus{
    background-color: #fa9f6a;
}

.btn-secondary:active{
    background-color: #fa9f6a;
}
/************Assignment Bins************/
.assn1 {
    margin-left: auto;
    margin-right: auto;
    position:relative;
    padding-left: 50px;
    display: block;
    height: 100px;
    width: auto;
    margin-bottom: 150px;
}
.assn2 {
    margin-left: auto;
    margin-right: auto;
    position:relative;
    padding-left: 50px;
    display: block;
    height: 100px;
    width: auto;
    margin-bottom: 100px;
}
.assn-bins {
    padding-top: 100px;
}
.assn-title{
    margin-left: 50px;
    color: #565c62;
    text-align: center;
}
.modal-title {
    text-align: center;
}
.contact {
    margin-right: 5px;
    color: #565c62;
}