{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <title>{% block title %}Digital Elementary{% endblock title %}</title>

  {% block base_css %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'css/classroom/base.css' %}">
  {% endblock %}
  <!-- Page Specific CSS block -->
  {% block page_css %}
  {% endblock %}

  {% block base_javascript %}
  <!-- Bootstrap JavaScript -->
  {% comment %} <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- 3rd party JavaScript -->

  <!-- Project JS -->
  <script src="{% static 'js/classroom/base.js' %}"></script>
  {% endblock base_javascript %}
  <!-- Page Specific Javascript -->
  {% block page_javascript%}
  {% endblock  %}
</head>
<body>

  {% block navbar %}
    <!--NavBar-->
        <div id="sidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
                <a href="{% url 'home' %}"><span><img src="{% static 'images/018-school.png' %}" class="nav-icons" alt="School Icon"/><span class="icon-text">Main Classroom</span></a><br>
                {% block additional_navbar_items%}

                {% endblock%}
                <a href="{% url 'logout' %}"><span><img src="{% static 'images/038-school-bus.png' %}" class="nav-icons" alt="Bus Icon"/><span class="icon-text"></span>Log out<span></a>
        </div>
  {% endblock %}

  <div id="main" class="container-fluid">
    <!-- Main Page Content -->
    {% block content %}
      <p>Default content...</p>
    {% endblock content %}
  </div>
  
</body>
  
</html>
