{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'css/classroom/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/classroom/grid.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/classroom/ionicons.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/classroom/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet"> 

    <title>
        IterGators
    </title>

</head>


<body>
    
    <header>
    
        <div class="row">
            
            <div class="col span-1-of-5 box">
                <h3>Mrs. Anna Smith</h3>
            </div>

            <div class="col span-1-of-5 box">
                <h3>1st Grade</h3>
            </div>

            <div class="col span-1-of-5 box">
                <h3>Thu 11/05/2020</h3>
            </div>

            <div class="col span-1-of-5 box">
                <h3>Week of 11/02-11/06</h3>
            </div>
            
            <div class="col span-1-of-5 box2">
                <img src="{% static 'images/classroom/006-bell.png' %}" alt="Main classroom bell" class="bell">               
                <img src="{% static 'images/classroom/010-clock.png' %}" alt="Main classroom clock" class="clock">
            </div>

        </div>        
    </header>
    

    <section class="row">
        
        <div class="col span-5-of-6 row2">
            <iframe width="90%" height="600px" src="https://awwapp.com/b/uzq6wbsv9qnzs/"></iframe>
        </div>
        
        <div>
            <ul class="main-nav">
                <li>
                    <a href="zoommtg://zoom.us/join?confno=123456789&pwd=xxxx&zc=0&browser=chrome&uname=Betty">
                    <img src="{% static 'images/classroom/024-teacher-1.png' %}" alt="Class Zoom Teacher Icon" class="class-zoom-teacher">
                    <img src="{% static 'images/classroom/029-student-1.png' %}" alt="Class Zoom Female Student Icon" class="class-zoom-student">
                    <img src="{% static 'images/classroom/027-student.png' %}" alt="Class Zoom Male Student Icon" class="class-zoom-student">
                    </a>
                    <br/>Class Zoom
                </li>
                <li>
                    <a href="zoommtg://zoom.us/join?confno=123456789&pwd=xxxx&zc=0&browser=chrome&uname=Betty">
                    <img src="{% static 'images/classroom/024-teacher-1.png' %}" alt="Class Zoom Teacher Icon" class="class-zoom-teacher">
                    <img src="{% static 'images/classroom/029-student-1.png' %}" alt="Class Zoom Female Student Icon" class="class-zoom-student">
                    </a>
                    <br/>1:1 Teacher Zoom
                </li>
                <li>
                    <a href="zoommtg://zoom.us/join?confno=123456789&pwd=xxxx&zc=0&browser=chrome&uname=Betty">
                    <img src="{% static 'images/classroom/022-teacher.png' %}" alt="Class Zoom Teacher Icon" class="class-zoom-teacher">
                    <img src="{% static 'images/classroom/029-student-1.png' %}" alt="Class Zoom Female Student Icon" class="class-zoom-student">
                    </a>
                    <br/>1:1 Tutor Zoom
                </li>
            </ul>            
        </div>
    </section>    

    
    <section class="class-links">
        <div class="row">
            
            <div class="col span-1-of-5 box">
                <a href="#"><h3>Reading 9-10AM</h3></a>
            </div>

            <div class="col span-1-of-5 box">
                <a href="{% url 'subject_page' %}"><h3>Math 10-11AM</h3></a>
            </div>

            <div class="col span-1-of-5 box">
                <a href="#"><h3>Writing 11AM-12PM</h3></a>
            </div>

            <div class="col span-1-of-5 box">
                <a href="#"><h3>Social Stu. 1-2PM</h3></a>
            </div>
            
            <div class="col span-1-of-5 box">
                <a href="#"><h3>Art 2-3PM</h3></a>
            </div>

        </div>        
    
    </section>

    
</body>

<!-- Javascript -->
<script src="{% static 'js/bell_ring.js' %}"></script>

</html>


<!--end-->
