<form method="POST" enctype="multipart/form-data" action="">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Submit/Edit Assignment</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <!-- Display Assignment Information -->
    <h6><b>{{curr_assignment.title}}</b></h6>
    <p>{{curr_assignment.description}}</p>
    <!-- Show file download link if there is a file to download -->
    {% if curr_assignment.assignment_file %}
    <a class="btn btn-primary" href="{{curr_assignment.assignment_file.url}}" role="button">Download Assignment</a>
    {% endif %}
    <p>


    </p>
    <!-- Show grade of assignment if one exists -->
    {% if curr_submitted_assignment.grade%}
    <p>Grade: {{curr_submitted_assignment.grade}}</p>
    {% else %}
    <p> </p>
    {% endif %}
    <!-- Show feedback on assignment if any exists -->
    {% if curr_submitted_assignment.feedback%}
    <p>Feedback: {{curr_submitted_assignment.feedback}}</p>
    {% else %}
    <p> </p>
    {% endif %}
    {% comment %} <!-- Show only the file field for changing the assignment. -->
    {{ form.as_p }} {% endcomment %}

    <!-- Show all fields allowed for editing in form (browse window) -->
    <!-- Could possibly just remove loops later to help with formatting -->
    {% for field in form %}
      <div class="form-group{% if field.errors %} invalid{% endif %}">
        <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
        <p>
          {{field}}
        </p>
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-primary">Update</button>
  </div>

</form>