{% extends 'classroom/base.html' %}
{% load static %}
{% block title %}Math{% endblock %}

{% block additional_navbar_items%}
<a href="{% url 'assignments_page' subject_contents.id %}"><span><img src="{% static 'images/044-exam.png' %}" class="nav-icons" alt=" Icon"/>Report Card</span></a><br>
{% endblock %}

{% block content %}
<body>
    <header class="blog-header py-3">
        <div class="hd row d-flex flex-nowrap flex-sm-row justify-content-between align-items-center">
            <div class="teacher-card col-sm ">
                <img src="{% static 'images/024-teacher-1.png' %}" class="teacher-icon" alt="teacher Icon"/><a class ="teacher" href="#" data-toggle="modal" data-target="#tModal">Mrs. Anna Smith</a>
                <!-- Modal -->
                <div class="modal fade" id="tModal" tabindex="-1" role="dialog"  aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document" >
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Contact Information</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>  
                            </div>
                            <div class="modal-body">
                                <img src="{% static 'images/t1.jpg' %}" class="teacher-pic" alt="teacher pic"/>
                                <p>Mrs. Anna Smith</p>
                                <ion-icon class = "contact" size = "large" name="call-outline"></ion-icon>
                                <ion-icon class = "contact" size = "large" name="videocam-outline"></ion-icon>
                                <ion-icon class = "contact" size = "large" name="mail-outline"></ion-icon>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="title col-sm-7 justify-content-center align-items-center">
                <img src="{{subject_contents.logo.url}}" class="math-icon" alt="Math Icon"/>
                <a class="blog-header-logo h2" href="#">{{subject_contents.name}}</a>
            </div>
            <div class="clock-plc col-sm d-flex ">
                <!--- <a class="ring" href="#"><img src="{% static 'images/006-bell.png' %}" class="ring-icon" alt="Ring Icon"/></a>--->
                <iframe src="http://free.timeanddate.com/clock/i7k8xx26/n856/fn6/fs16/fc565c62/tcfa9f6a/ftb/bas2/bat0/bacfff/pa8/tt0/tw1/tm1/th2/tb4" frameborder="0" width=100% height="55" class = "clock"></iframe>
            </div>
        </div>
    </header>
    <div class = "whiteboard-subject container">
        <div class = "r1 row">
            <div class="col-sm-9">
                <form method="POST" action="" class = "pick-week">{% csrf_token %}
                    <select name = "week_wanted">
                        {% for week_content in week_subject_contents %}
                        {% if week_content.week_number == current_week.week_number %}
                        <option value="{{week_content.week_number}}" selected>Week {{week_content.week_number}}</option>
                        {% endif %}
                        {% if week_content.week_number != current_week.week_number %}
                        <option value="{{week_content.week_number}}">Week {{week_content.week_number}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit"  value="Go to Week" class = "pick-week-btn btn btn-secondary" />
                </form>
                <h3 class = "week">{{current_week.week_date_header}}</h3>
                <iframe class = "aww-sub" src={{current_week.whiteboard_link}}></iframe>
            </div>
            <div class="assn-bins d-flex flex-column col-sm-3">
                <h4 class = "assn-title">Assignments</h4>
                {% comment %} <a href="#"><img src="{% static 'images/037-folders.png' %}" alt="Assignment Icon" class="assn1"></a> {% endcomment %}
                <!-- Try creating a grid of assignments that haven't been subbmitted yet for the student -->
                <div class="all-assns container">
                    {% if assignments_not_submitted %} {%comment%} Check if any assigments to actually include {%endcomment%}
                    {% for assignment in assignments_not_submitted %}
                    <div class = "bins">
                        <p class = "assn-titles">{{assignment.title}}</p>
                        <img id="submit-assignment-button-{{assignment.id}}" src="{% static 'images/037-folders.png' %}" class="assn1" alt="Assignment Icon">  
                        {% comment %} <input type="image" src="{% static 'images/037-folders.png' %}" name="saveForm" class="btTxt submit" id="submit-assignment-button-{{assignment.id}}" /> {% endcomment %}
                    </div>
                    {% endfor%}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

<!-- MODALS -->
<!-- Bootstrap Modal that just displays the contents described in assignment_submit.html -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<!-- Scripts -->
<!-- For use django-bootstrap-modal-forms -->
<script type="text/javascript">
    $(document).ready(function() {
        {% if assignments_not_submitted%}
        {% for assignment in assignments_not_submitted %}

        $("#submit-assignment-button-{{assignment.id}}").modalForm({
            formURL: "{% url 'submit_assignment' assignment.id user.id%}"
        });

         {% endfor %}
         {% endif %}
         });
</script>
{% endblock content %}

{% block page_javascript%}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock  %}