/* Orange color: #e67e22 */

/* ------------------------------------------------------ */
/* ---------------- B A S I C  S E T U P ---------------- */
/* ------------------------------------------------------ */

* {
    /*    Reset / remove all margins and padding globally*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: #fff;
    color: #555;
    /*    Second choice of font is "Arial", in case the user has no access to the internet and cant access Google Font. */
    /*    Third choice if Aerial font is not available: any sans-serif font.  */
    font-family: 'Lato', 'Arial', sans-serif;
    /*    Pick a font weight from among the choices you picked from Google Font.    */
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/*
Clear the floats. Otherwise the webpage will behave weirdly with margins. 
Add this 'clearfix' class in the 'ul' class:
    <ul class="meals-showcase clearfix">
The child elements of class 'meals-showcase' which are the 'li' elements, are the ones who have the float property. And so we say that the parent has this 'clearfix' class and then that float will be cleared right after the 'ul' element. 
*/
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ------------------------------------------------------ */
/* -------- R E U S A B L E  C O M P O N E N T S -------- */
/* ------------------------------------------------------ */

.row {
    max-width: 1140px;
    /*    Old way to center the content in middle of webpage... margin: 0 auto 0 auto; */
    /*    New way where 0 refers to TOP and BOTTOM, and auto refers to LEFT and RIGHT margins.    */
    margin: 0 auto;
}


/* 
Creating white spaces for clean design. Using padding to do this. 
'section' refers to the HTML 'section' that contains the top 4 columns and copy.
Styling here affects each element that is inside the 'section' block. 
*/
section {
    padding: 80px 0;
}


.box {
    padding: 1%;
}


/* ------------------------------------------------------ */
/* ----------------- H E A D I N G S -------------------- */
/* ------------------------------------------------------ */

/*
We want to make H2 heading to look similar to H1 heading. 
So group H1 and H2 and code those stylings they have in common,
then create separate H1 and H2 blocks each with its own unique features. 
*/

/*The h1 class inside the Header inside the Body has a margin causing white space at the top of the viewport. Removing it here: */
h1, 
h2,
h3 {
    /*
    Font weight here is in reference to Lato 300 font we are using. 
    Here we too the 20px font and ballooned it by +240% which increased its weight. 
    So here, we are resetting the weight to 300 while keeping the +240% relational value. 
    */
    font-weight: 300;
    text-transform: uppercase;
    }


h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
/*
Inside html{} global section, we specified global font-size to be 20px.
Responsive design of font-size at 200% dictate h1 font to be 240% of 20px or 48px
*/
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


h3 {
    font-size: 110%;
    margin-bottom: 15px;
}



/*
Yellow line between H2 and the text. 
Using CSS to enter content into webpage using the 'after' pseudo-class. 
This content will appear after the H2. 
Whenever you use the 'after' pseudo-class, you have to specify its content, 
    but in this case we are not looking to add wrods so we use " " a blank space. 
*/
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto; 
    margin-top: 30px;
}



/* ------------------------------------------------------ */
/* ---------------- P A R A G R A P H ------------------- */
/* ------------------------------------------------------ */

/*
Editing the paragraph of class 'long-copy'
Line height should be between 120-145% based on our study of good aesthetics. 
    This creates a bit more separation between the paragraph lines. 
Also remember to limit how many characters / words there are per line.
    Control this with 'width' of 70%. 
This width restriction causes the paragraph to no longer be centered.
    Counter that by using 'margin-left' of 15%.
    Why 15%? 15% Left - 70% Middle - 15% Right 
*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}


.box p {
    font-size: 90%;
    line-height: 145%;   
}


/* ------------------------------------------------------ */
/* -------------------- I C O N S ----------------------- */
/* ------------------------------------------------------ */

/* Remember that these specific sets of icons are actually fonts! So treat them as fonts. */
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}


.icon-small {
    /* Remember that 'inline block' just means a box / block in the line. */
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    
    /* Aligning text and icons. */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/* ------------------------------------------------------ */
/* -------------------- L I N K S ----------------------- */
/* ------------------------------------------------------ */

a:link, 
a:visited {
    color: #e67e22;
    text-decoration: none; 
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}


a:hover, 
a:active {
    color: #555;
    border-bottom: 1px solid transparent;

}



/* ------------------------------------------------------ */
/* ------------------ B U T T O N S --------------------- */
/* ------------------------------------------------------ */

/* Styling ALL the buttons on the page. */
/*
Remember that these buttons have FUNCTIONALITY, and are not just for looks.
These buttons are actually links to other pages.
Links have different states, so we specify them here.
In this example, button linked and button visited have the same style. 
*/
.btn:link,
.btn:visited, 
input[type=submit] {
    /* 'input[type=submit]' is the form submit button at the bottom of the webpage. */
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    /* Rounds the button. */
    border-radius: 200px;
    /* Not specifying button color here; specify with each button. */

    /* Transition of background color when hovering over button. */
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


/*Styling specific buttons on the page, BY CLASS. */
.btn-full:link,
.btn-full:visited,  
input[type=submit] {
    /* 'input[type=submit]' is the form submit button at the bottom of the webpage. */
    /* Use https://flatuicolors.com/ to help you choose colors. */
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;

    /* Separate the "I'm hungry" button and the "Show me more" button. */
    margin-right: 15px;
}


.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}


/*Specifying button behavior upon clicking and hovering. */
.btn:hover,
.btn:active, 
input[type=submit]:hover, 
input[type=submit]:active {
    background-color: #cf6d17;
}


/*Styling specific buttons on the page, BY CLASS. */
.btn-full:hover,
.btn-full:active, 
input[type=submit] {
    /* Use https://flatuicolors.com/ to help you choose colors. */
    border: 1px solid #cf6d17;
}


.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/* ------------------------------------------------------ */
/* -------------------- H E A D E R --------------------- */
/* ------------------------------------------------------ */

/*Style the Header inside the Body.*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    /*    Background Hero image is too zoomed in. This code makes the background image the size of the width of the viewport. 
    Background Hero image will resize with the browser window resizing. */
    background-size: cover;
    background-position: center;

    /*    Fill the whole Viewport with the Hero image, i.e. fill the viewable screen from top to bottom.
    "100vh"" means 100% of the Viewport. */
    height: 100vh;
    
    /* Effect where the background image stays in place while you scroll up and down. */
    background-attachment: fixed;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    /* 
    50% from top and 50% from left positions the top left corner of the test at 50%/50% or middle point of screen
    This looks kinda weird, we want the middle of the text to be 50%/50%.
    So we use the "transform" functionality.    
    */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform(-50%, -50%) means move half of its width left, and half of its height up. */
}


/* The LOGO is inside the Header in the HTML code, so we put its CSS code here. */
.logo {
    height: 100px;
    width: auto;
    float: left;

    /* Offset the logo from the top of the page. */
    margin-top: 20px;
}


/* The NAVIGATION is inside the Header in the HTML code, so we put its CSS code here. */
.main-nav {
    float: right;

    /* This gets rid of the bullet points. */
    list-style: none;

    /* Offset the main navigation elements from the top of the page. */
    margin-top: 55px;
}


/* This selects all "li" list navigation, i.e. the "bullet points". */
.main-nav li {
    /* "inline block" means that the elements are "in line" or "on the same line" */
    display: inline-block;
    /* Each element has 40 pixels of margin to their left. */
    margin-left: 40px;
}


/* This selects all the a elements inside the "li" list navigation elements. */
/* Specifying both link state and visited state here at the same time makes it so that they both look the same through all state changes. */
.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    /* Remember to not express sizes in hard values like pixels, but rather in percentage relational values. */
    /* Our base font size is 20px so if we want this font size for this element to be 18 pixels: 18/20=0.9 */
    font-size: 90%;
    
    /* Border is not visible until we hover over it. */
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    
    /* Padding between the link wording and the underline (8px), and left and right (0px). */
    padding: 8px 0;
}


.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/* ------------------------------------------------------ */
/* ------------------ F E A T U R E S ------------------- */
/* ------------------------------------------------------ */

/*
Note here that we are only addressing the 'long-copy' class inside 'section-features'.
Note the syntax: 
*/
.section-features .long-copy {
    margin-bottom: 30px;
}




/* ------------------------------------------------------ */
/* --------------------- M E A L S ---------------------- */
/* ------------------------------------------------------ */

/* Removing the large padding around the rows of images. */
.section-meals {
    padding: 0;
}


/* Formatting the unordered list. */
.meals-showcase {
    list-style: none;
    width: 100%;
}


/* Formatting the 'li' elements inside the unordered list. */
.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}


.meal-photo {
    /* width of 100% means that this element has the exact width of its parent '.meals-showcase li' */
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}


.meal-photo img {
    /*
    Note that the background for this image is set by its parent: '.meal-photo'
    We set its parent background-color to black so that 0.70 opacity of image = 30% black 
    */
    opacity: 0.7; 
    
    /* width of 100% means that this element has the exact width of its container '.meals-photo' */
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}


.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1.5;
}


/* ------------------------------------------------------ */
/* --------------- H O W  I T  W O R K S ---------------- */
/* ------------------------------------------------------ */

.section-steps {
    background-color: #f4f4f4;
}


/* The Left and Right boxes containing the phone images and the steps to join. */
/*
.steps-box {

    
}
*/


/*
'zero classes'
Selects the first of the 'step-boxes', which in this case is the left one with the iPhone image. 
Also available is 'last-child'
*/
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}


.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px; 
}


/* The iPhone image. */
.app-screen {
    width: 40%;
}


.works-step {
    margin-bottom: 50px;
}


.works-step:last-of-type {
    margin-bottom: 80px;
}


/* The 'div' element inside our 'works-step' class. */
.works-step div {
    color:  #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}


/* Issue before where the App Sore and the Play Store had the link orange underline. Removing it here. */
.btn-app:link,
.btn-app:visited {
    border: 0;
}


.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/* ------------------------------------------------------ */
/* -------------------- C I T I E S --------------------- */
/* ------------------------------------------------------ */

.box img {
    /*
    We want the image to be exactly as wide as the box. 
    Setting the width to 100% causes the 4 cities images to fit inside the box. How??? 
    */
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.city-feature {
    margin-bottom: 5px; 
}


/* ------------------------------------------------------ */
/* -------------- T E S T I M O N I A L S --------------- */
/* ------------------------------------------------------ */

.section-testimonials {
    /*
    background-image: linear-gradient(#000, #000),
        Then ctrl-E at the #000 to pick color and gradient. 
    */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}


/*
This is called a 'zero class'.
    Using ':before' with the class name cause action to be performed "before" the content of the class. 
To insert text into the webpage using only CSS, we use 'content:' 
*/
blockquote:before {
/*
    To insert a quotation mark here, you can't just use a quotation mark because it would be like this: """
        which cannot be done. In order to insert a quotation mark or similar situations, you must use 
        an 'ISO' special character: https://css-tricks.com/snippets/html/glyphs/ 
*/
    content: "\201C";
    font-size: 500%;
    display: block; 
    
    /* When using 'absolute' on an element, parent must have a 'relative' position. */
    position: absolute;
    top: -5px;
    left: -5px;
}


/*
No need to make classes for 'blockquote' and 'cite' because we're only using those for this purpose only
and nowhere else on the webpage.
*/

blockquote {
    padding: 2%;
    font-style: italic;
        /* Remember that if you want italics, you must include it in your Google Font choices. */
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}


cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
        /* Remember that the class 'cite' includes the testimonial person's image and name.
            By making this class a block element, you're causing the image and person name to be 
            contained inside a block and on a different line than the 'blockquote', its parent. */
}


cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; 
}


/* ------------------------------------------------------ */
/* -------------------- S I G N  U P -------------------- */
/* ------------------------------------------------------ */

.section-plans {
    background-color: #f4f4f4;
}


/*
Reason for this box into the column 
    (Parent of 'plan-box' is 'col span-1-of-3')
    to be able to make 'plan-box' as wide as we wanted it, in this case 90% with the white bg color.
*/
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%; 
        /* Centering so 5% Left + 90% Middle + 5% Right */
    box-shadow: 0 2px 2px #efefef; 
        /*
        First number is the x-axis offset
        Second number is the y-axis offset
        Third number is the blur value  
        Fourth value is the color
        */
}


/* Sectioning the 'plan-box' into 3 sections: 
    --- Price 
    --- Plan description 
    --- Signup button 
*/
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}


.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.plan-box div:last-child {
    text-align: center;
    border: 0;
}


.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100; 
    color: #e67e22; 
}


/*
Remember that you use 'span' inside a paragraph 'p' to allow you to style the content inside of 'span'.
Also note that '.plan-price span' is a child of 'plan-price' therefore if you do 'font-size: 100%;' then 
the font size would be 100% of its parent's 300% font size. 
'font-size: 30%;' means 30% of its parent's 300% and not 30% of the original 20 pixels font. 
*/
.plan-price span {
    font-size: 30%;
    font-weight: 300;  
}


.plan-price-meal {
    font-size: 80%; 
}


/* Formatting the plans descriptions. */
.plan-box ul {
    list-style: none;
    
}


.plan-box ul li {
    padding: 5px 0;
}


/* ------------------------------------------------------ */
/* ----------------------- F O R M ---------------------- */
/* ------------------------------------------------------ */

.contact-form {
    width: 60%;
    margin: 0 auto;
}


/*
input[type=text] ... select all 'input' elements of type 'text'
input[type=email] ... select all 'input' elements of type 'email'
*/
input[type=text], 
input[type=email], 
select, 
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


textarea {
    height: 100px;
    
}


input[type=checkbox] {
    margin: 10px 5px 10px 0;
}


/* 
'*' applies to all 
zero-class 'focus' 
    'focus' is the behavior of an element when it is selected? 
    applying 'none' to 'focus' makes it so that when you select the 'Your name' element, no border highlight exists.
*/
*:focus {
    outline: none;
}


/* ------------------------------------------------------ */
/* --------------------- F O O T E R -------------------- */
/* ------------------------------------------------------ */

footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%; 
}


.footer-nav {
    list-style: none;
    float: left;
}


.social-links {
    list-style: none;
    float: right;    
}


.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}


.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}


.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}


.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
    transition: color 0.2s;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}


.social-links li a:link,
.social-links li a:visited {
    font-size: 160% 
}


.ion-social-facebook, 
.ion-social-twitter, 
.ion-social-googleplus, 
.ion-social-instagram {
    transition: 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}


.ion-social-twitter:hover {
    color: #55acee;
}


.ion-social-googleplus:hover {
    color: #dd4b39;
}


.ion-social-instagram:hover {
    color: #e95950;
}





















































/* When you define some floats, you then later have to clear those floats. */


