{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}
 

{% block content %}

<head>
<style>
    body, footer, head {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #9DC8C8 !important;
		}
    .login-box{
        color: white;
        padding: 25px;
        border-radius: 5px;
        background-color : #D1B6E1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 350px;
        height: auto;
        position:static;
        z-index:auto;
        margin:auto;
        margin-top: 240px;
        font-size: 18px;
        font-weight: bold;
    }
    
    h2{
        padding-bottom:20px;
        font-size: 45px;
        justify-content: center !important;
    }
    
    button{
        background-color: #58C9B9 !important;
        border-radius: 5px;
        width:300px;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    
    button:hover{
        background-color: #519D9E !important;
    }
    
    .link{
        color:#519D9E;
    }
    
    .link:hover{
        color: #58C9B9;
    }
    
    
    </style>
</head>

<div class= "login-box">
    
<h2>Log in</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success">Log in</button>
    
</form>
<a class= "link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    
</div>


{% endblock content %}
