<!-- templates/login/register.html -->

<!DOCTYPE html>
<html>

    {%load static%}
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/registration/login_style.css' %}">

    </head>
    <body>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card-reg">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title">REGISTER STUDENT</h3>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <h3 class = "title">Student Information</h3>
                            <div class = "row">
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        {{form.username}}
                                    </div>
                                </div>
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        {{form.first_name}}
                                    </div>
                                </div>
                            </div>
                            <div class = "row">
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        {{form.password1}}
                                    </div>
                                </div>
                                <!-- Insert other registration items here. -->
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        {{form.last_name}}
                                    </div>
                                </div>
                            </div>
                            <div class = "row">
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        {{form.password2}}
                                    </div>
                                </div>
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        {{form.birth_date}}
                                    </div> 
                                </div>
                            </div>
                            <h3 class = "title">Guardian 1 Information</h3>
                            <!-- Guardian 1 Registration Fields-->
                            <div class = "row">
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                        </div>
                                        {{form.guardian_1_first_name}}
                                    </div> 
                                </div>
                              <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-phone-square"></i></span>
                                        </div>
                                        {{form.guardian_1_phone}}
                                    </div> 
                                </div>
                            </div>
                            <div class = "row">
                               <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                        </div>
                                        {{form.guardian_1_last_name}}
                                    </div> 
                                </div>
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        {{form.guardian_1_email}}
                                    </div> 
                                </div>
                            </div>
                            <!-- Guardian 2 Registration Fields-->
                            <h3 class = "title">Guardian 2 Information</h3>
                            <div class = "row">
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                        </div>
                                        {{form.guardian_2_first_name}}
                                    </div> 
                                </div>
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-phone-square"></i></span>
                                        </div>
                                        {{form.guardian_2_phone}}
                                    </div> 
                                </div>
                            </div>
                            <div class = "row">
                               <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                        </div>
                                        {{form.guardian_2_last_name}}
                                    </div>
                                </div>
                                <div class = "col-sm">
                                    <div class="input-group mb-2">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        {{form.guardian_2_email}}
                                    </div> 
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn login_btn" type="submit" value="Register Account">
                            </div>
                        </form>
                    </div>
                    <!-- Show any errors from our form -->
                    {{form.errors}}

                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field 
		 */

            //Query All input fields
            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder='Username..';
            form_fields[2].placeholder='Enter first name...';
            form_fields[3].placeholder='Enter password...';
            form_fields[4].placeholder='Enter last name...';
            form_fields[5].placeholder='Re-enter Password...';

            form_fields[7].placeholder='Guardian 1 First Name...';
            form_fields[8].placeholder='Guardian 1 Phone...';
            form_fields[9].placeholder= 'Guardian 1 Last Name...';
            form_fields[10].placeholder= 'Guardian 1 Email...';

            form_fields[11].placeholder='Guardian 2 First Name...';
            form_fields[12].placeholder='Guardian 2 Phone...';
            form_fields[13].placeholder='Guardian 2 Last Name...';
            form_fields[14].placeholder='Guardian 2 Email...';



            {% comment %} form_fields[7].placeholder='Enter student birth date...'; {% endcomment %}


            for (var field in form_fields){	
                form_fields[field].className += ' form-control'
            }
        </script>
    </body>
</html>